/* Reset some default styles to ensure consistent rendering */
body, h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
}

/* Apply a background color to the body */
body {
    background-color: #f5f5f5;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

/* Style the header */
header {
    background-color: #78a5a9;
    color: white;
    text-align: center;
    padding: 15px 0;
}

header img {
    display: block;
    margin: 0 auto;
}

/* Style the navigation bar */
nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Style the main content */
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the sections */
section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

/* Style the form */
form {
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"] {
    width: 20%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #444;
}

/* Style the table */
table {
    width:px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Style the footer */
footer {
    /* display: inline-block; */
    background-color: #70949a;
    color: black;
    text-align: center;
    padding: 10px;
}

.social-media a {
    margin: 0 10px;
}

/* Style the newsletter section */
#newsletter {
    text-align: left;
    padding: 10px;
}


/* Remove background color and text color for "About Us" and "Contact Us" sections in the footer */
.footer-section {
    display: inline-block;
    background-color: transparent;
    color: inherit;
    padding: 10px; /* Add padding for spacing */
}



/* Style for the image gallery */
.image-gallery {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.image-gallery li {
    flex: 0 0 calc(20.33% - 10px); /* Adjust the width based on your design */
    margin: 10px;
    text-align: center;
}

.image-gallery img {
    max-width: 100%;
    height: auto;
}



